body {
    margin: 0;
    padding: o;
    background-image: url(../images/naki.jpg);
    max-width: 1600px;
    height: auto;
  }
  
  .nav {
    display: flex;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
  
  }
  
  .images {
    display: block;
    width: 110px;
    height: 80px;
  }
  
  
  
  .menubar {
    float: right;
    width: 100%;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 2px solid #011;
    border: 2px solid rgb(13, 10, 53);
    border-radius: 15px;
    height: 50px;
    overflow: hidden;
    position: relative;
    padding: 5px 0 10px 0;
    opacity: 0.1;
    background: rgb(215, 213, 236);
    color: rgb(13, 10, 53);
    margin: 15px;
  }
  
  .menubar:hover {
    opacity: 1;
  }
  
  .menubar ul {
    float: left;
    clear: left;
    position: relative;
    list-style: none;
    left: 40%;
    display: block;
    text-align: left;
  }
  
  .menubar ul li {
    display: inline;
    text-align: center;
    margin: 1em;
    padding: 1em;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    color: black;
  }
  
  
  h1 {
    font-family: roboto sans-serif;
    font-size: 300%;
    text-align: center;
    color: rgb(13, 10, 53);
    font-weight: bolder;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 13%;
  
  
  }
  
  .word {
    color: #fff;
  }



  *,
*::after,
*::before {
    box-sizing: border-box;
}

.section {
    padding: 80px 0;
}

.section-header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;

    text-align: center;
}

.section-subtitle {
    font-size: 24px;
    color: #333;
}

.section-title {
    font-size: 30px;
    color: #333;
    text-transform: uppercase;
}

.section-title::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #f38181;
}

.section-clients {
    background-color: #f8f8f8;
    background-image: url(images/clients-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.clients-items {
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
    margin-bottom: 60px;
}

.clients-photo {
    width: 110px;
    height: 110px;

    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}

.clients-name {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.clients-text {
    font-size: 15px;
    color: #999;
}

.clients-text::before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px 0;

    background-color: #f38181;
}